@@ -1,508 +1,547 @@
@font-face {
  src: url("../fonts/pt-sans/ptsans-700.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("../fonts/pt-sans/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  background-color: #F2F2F2;

  /*outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;*/
}

.page-container {
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}



/*Сброс стилей списков*/
.navigation-list {
  list-style: none;
}
/*Список юзер навигации*/
.navigetion-list-user {
  list-style: none;
}
/*Список иконок в футоре*/
.icon-list {
  list-style: none;
}
/*Список крошек в каталоге*/
.breadcrumbs-list {
  list-style: none;
}
.breadcrumbs-list a {
  text-decoration: none;
}
/*Сприсок отображения карточек
в каталоге*/
.display-list {
  list-style: none;
}
.display-list a {
  text-decoration: none;
}
/*Список карточе в каталоге*/
.card-list {
  list-style: none;
}
.pagination {
  list-style: none;
}
.edge-list {
  list-style: none;
}
.edge-list .edge-sublist {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*Навигация*/
.logo-link {
  margin: 0;
  padding: 0;
  display: block;
  width: 139px;
}

.navigation {
  display: flex;
  width: 1060px;
  height: 65px;
  margin: 0 auto;
  background-color: #fff;
}

.navigation-list {
  width: 353px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 264px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000;
}

.navigation-link {
  position: relative;
  display: flex;
  margin-right: 34px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.border-link::before {
  content:"";
  outline: 2px solid #615048;
  position: absolute;
  width: 100%;
  display: block;
  margin-top: 44px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  display: none;
}




.navigation-list-user {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: auto;
  list-style: none;
  box-sizing: border-box;
}

.navigation-item-user {
  width: 42px;
  height: 66px;
}

.navigation-item-user:nth-child(2) {
  margin-right: 20px;
}

.navigation-item-user-total-number {
  position: absolute;
  right: 178px;
  bottom: 25px;
}

.navigation-link-user {
  display: block;
  cursor: pointer;
  margin-top: 25px;
}

.navigation-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navigation-link-user:hover .navigation-icon {
  fill: #756257;
}

..navigation-link-user:active {
  opacity: 0.3;
}



.navigation-button {
  list-style: none;
}

.button-link {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  display: block;
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 8px 29.5px;
  background: #756257;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-link:hover {
  background-color: #615048;
}

.button-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-link:active .desription-button {
  opacity: 0.3;
}




/*Вступительные заголовки секций*/
.section-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}
/*Поясняющий текст к заголовкам*/
.section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333;
}


/*Главный экран*/

.screen {
  background-color: #fff;
  margin: 0;
  margin-bottom: 79px;
}

.screen-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../images/main-page/screen/screen-background.jpg");
  width: 100%;
  height: 485px;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 25px;
}

.vector {
  display: block;
}

.title-screen {
  width: 720px;
  margin: 0 auto;
  padding-top: 63px;
}

.description-screen {
  width: 720px;
  margin: 0 auto;
  padding-top: 23px;
}



/*Блок преимуществ*/
/* заголовки */

.adge {
  margin-bottom: 90px;
}

.edge-title {
  margin: 0;
  padding: 0;
  padding-top: 98px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}


.edge-number {
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

.number-long {
  line-height: 21px;
  padding-bottom: 25px;
}

.edge-description-text {
  margin: 0 auto;
  max-width: 250px;
}

.edge-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.edge-item-long-hotel {
  display: flex;
  background-color: #83B3D3;
  color: #fff;
}

.edge-item-long-canyon {
  display: flex;
  flex-direction: row-reverse;
  background-color: #83B3D3;
  color: #fff;
}

.edge-item {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 400px;
  height: 384px;
  background-color:
  rgba(131, 179, 211, 0.12);
  color: #333;
}

.item-food {
  background-color: #fff;
}

.item-road {
  background-color:
  rgba(131, 179, 211, 0.20);
}

.edge-wrapper {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
  text-align: center;
}

.edge-icon {
  margin-top: 93px;
  margin-bottom: 23px;


}

.title-long{
  margin: 0;
  padding: 0;
  margin-top: 93px;
  margin-bottom: 25px;
  text-align: center;
}


.title-sublist {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}




/*поиск гостиниц*/
.search {
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
}

.button-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 93px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  height: 60px;
  border: none;
  color: #fff;
  background-color: #756257;
  border-radius: 10px;
  cursor: pointer;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.button-search:active {
  background-color: #615048;
}

.button-search:active .description-button-search {
  opacity: 0.3;
}
/*.search-button-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}*/

/*Форма подписки*/
.mailing {
  margin: 0;
  padding: 0;
  padding-top: 93px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-image:
  url("../images/main-page/malling/background.jpg");
  background-color: #756257;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 40px;
}

.mailling-title {
  margin-bottom: 15px;
  color: #fff;
}
.mailling-description {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 43px;

  color: #fff;
}

.mailing-index-form {
  display: flex;
  width: 800px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.mailing-description-index {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  color:#fff;
}

/*Кнопка подписки*/
.button-subscription-mailing-index {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  background-color: #83B3D3;
  border: none;
  color: #fff;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  box-sizing: border-box;
}

.button-subscription-mailing-index:hover {
  background-color: #68A2CA;
}

.button-subscription-mailing-index:focus {
  outline: 3px solid #756257;
}

.button-subscription-mailing-index:active {
  background-color: #68A2CA;
}

.button-subscription-mailing-index:active .description-button-malling{
  opacity: 0.3;
}

.input-user-text-mailing-index {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 26px;
  background-color:#F2F2F2;
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: #000;
  width: 578px;
  height: 60px;
  padding-left: 22px;
  box-sizing: border-box;
}

.input-user-text-mailing-index:hover {
  background-color: #E6E6E6;
}

.input-user-text-mailing-index:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
}

/*Футер*/
.page-footer {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  align-items: center;
}

.container-footer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.icon-list {
  display: flex;
  margin: 0;
  padding: 0;
  height: 40px;
  margin-right:10px;
}

.icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin-right: 3px;
  /*border: 3px solid #83B3D3;
  border-radius: 10px;*/
}

.icon-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.icon-link-footer:focus {
  outline: 3px solid #68A2CA;
  border-radius: 10px;
}

.icon-social {
  fill: #83B3D3;
}
.icon-link-footer:hover .icon-social {
  fill: #68A2CA;
}

.icon-social:active {
  opacity: 0.3;
}



.adress-tel {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 720px;
  margin-right: auto;
  justify-content: center;
}

.adress-link {
  display: flex;
  margin: 0;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
}

.adress-link:hover {
  color:  #756257;
}

.adress-link:active {
  opacity: 0.3;
}

.adress-link:focus  {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}


.footer-logo-link {
  margin: 0;
  padding: 0;
  display:flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.logo-html-academy {
  display: block;
}

.footer-logo-link:hover {
  fill: #756257;
}

.footer-logo-link:active {
  opacity: 0.3;
}

.footer-logo-link:focus {
  outline: 3px solid #68A2CA;
  border-radius: 18px 22px;
}






/*Каталог*/

.catalog-products {
  color: #fff;
  background-image: url("../images/catalog/catalog-screen-background.jpg");
  background-repeat: no-repeat;

}

.inner-header {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  color: #fff;
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
  height: 408px;
  margin-bottom: 44px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  width: 112px;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;

}

.breadcrumbs-icon-link {
  margin: 0;
  padding: 1px 1px;
  margin-right: 4px;
  display: block;
  align-self: baseline;

}

.breadcrumbs-arrow {
  display: block;
  margin: 0;
  padding: 0;
  opacity: 0.3;
  margin-right: 4px;
}

.breadcrumbs-icon {
  margin: 0;
  padding: 0;
  display: block;
  fill: #fff;
}

.breadcrumbs-icon:hover {
  opacity: 0.6;
}

.breadcrumbs-icon:active {
  opacity: 0.3;
}

.breadcrumbs-icon-link:focus {
  outline: 3px solid #68A2CA;
  border-radius: 4px;
}

.breadcrumbs-link {
  display: block;
  line-height: 21px;
}

.container-filter {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1060px;
  align-items: flex-end;
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1060px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  width: 150px;
  border-style: none;
  margin-right: 67px;
}

.catalog-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 30px;
}

.catalog-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-list:nth-child(3n) {
  margin-bottom: 0;
}

.control-input {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.control-input:hover {
  background: rgba(255, 255, 255, 0.6);
}

.control-input:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.catalog-item {
  padding-bottom: 16px;
}

.container-button-filter {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin-left: auto;
  margin-bottom: 16px;
}

.button-filter {
  display: block;
  padding: 14px 29px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #83B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-filter:hover {
  background: #68A2CA;
}

.button-filter:focus {
  outline: 3px solid #FFFFFF;
  border-radius: 4px;
}

.button-filter:active .desription-button-form {
  opacity: 0.3;
}

.button-reset {
  display: block;
  margin: 0;
  padding: 0;
  width: 160px;
  height: 49px;
  font-size: 18px;
  line-height: 24px;
  background: none;
  text-transform: none;
  font-weight: 400;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 0.6;
  background: none;
}



.catalog-column {
  margin: 0;
  padding: 0;
  margin-bottom: 140px;
}

.total-serch-hotel {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 39px;
}

.select-container {
  margin:0 auto;
  display: flex;
  width: 1057px;
  height: 48px;
  align-items: center;
  margin-bottom: 53px;
}

.total-serch-hotel {
  color: #333;
  width: 340px;
}

.select-total-serch-hotel {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-color: #E5E5E5;
  line-height: 23px;
  border: 2px solid #E6E6E6;
  width: 287px;
  height: 52px;
  color: #333;
  border-radius: 4px;
  margin-left: 191px;
  padding-left: 20px;
}

.select-total-serch-hotel:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.select-total-serch-hotel:focus {
  outline: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-total-serch-hotel:active {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  opacity: 0.6;
}

.button-select{
  display: block;
  padding: 0;
  margin: 0;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-select:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.button-select:focus {
  outline: 2px solid #68A2CA;
  border-radius: 4px;
}

.button-select:active {
border: 2px solid #000000;
border-radius: 4px;
}

.button-select-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
}

.icon-tile {
  margin-top: 20px;
}

.container-button-select {
  display: flex;
  width: 160px;
  gap: 8px;
  margin-left: auto;
}




.card-list {
  display: grid;
  grid-template-columns: repeat(3, 339px);
  gap: 10px;
  margin: 0;
  padding: 0;
  width: 1056px;
  margin-left: 70px;
  margin-bottom: 34px;
}

.product-container {
  margin-bottom: 30px;
}

.card-item {
  display: grid;
  grid-template-columns: 20px 149.5px 149.5px 20px;
  grid-template-rows: 20px 222px min-content min-content min-content min-content 20px;

}

.card-link-image {
  margin: 0;
  padding: 0;
  display: block;
  grid-column: 2/4;
  grid-row: 2/3;
  margin-bottom: 16px;
}

.card-link-image:hover {
  opacity: 0.6;
}

.card-link-image:focus {
  outline: 3px solid #83B3D3;
}

.card-link-image:active {
  opacity: 0.3;
}



.card-title,
.product-title,
.card-button-link,
.rating-stars,
.rating-description {
  grid-column: 2/4;
}

.card-title {
  grid-row: 3/4;
  justify-self: start;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #333;
  margin-bottom: 16px;
}

.product-title {
  grid-column: 2/4;
  grid-row: 4/5;
  justify-self: start;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  line-height: 23px;
  color: #333;
  margin-bottom: 16px;
}

.product-prace {
  grid-column: 3/4;
  grid-row: 4/5;
  justify-self: end;
  margin-right: 65px;
  margin-bottom: 16px;
}

.button-more {
  grid-row: 5/6;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #756257;
  border-radius: 4px;
  justify-self: start;
  padding: 9px 20px;
  margin-bottom: 16px;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-more:active .description-button {
  opacity: 0.3;
}

.button-favorit {
  grid-column: 2/4;
  grid-row: 5/6;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background:#83B3D3;
  border-radius: 4px;
  justify-self: end;
  padding: 9px 20px;
  margin-bottom: 16px;
}

.button-favorit:hover {
  background: #68A2CA;
}

.button-favorit:focus {
  outline: 3px solid #756257;
  border-radius: 4px;
}

.button-favorit:active .description-button {
  opacity: 0.3;
}

.rating-stars {
  margin: 0;
  padding: 0;
  grid-column: 2/4;
  grid-row: 6/7;
  justify-self: start;
  padding: 9px 32px 10px 0;
}

.rating-description {
  margin: 0;
  padding: 0;
  grid-column: 2/4;
  grid-row: 6/7;
  font-weight: 400;
  font-size: 16px;
  line-height:21px;
  text-transform: uppercase;
  text-align: center;
  background: #F2F2F2;
  color: #333;
  border-radius: 4px;
  justify-self: end;
  padding: 9px 32px;
}




/*Загрузть еще*/
.container-button {
  margin-left: auto;
  margin-right: auto;
  width: 1056px;
  height: 120px;
  border-top: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  margin-bottom: 30px;
}

.button-load-more {
  display: block;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  height: 60px;
  border: none;
  color: #fff;
  background: #83B3D3;
  border-radius: 4px;
  margin: 30px auto;
  cursor: pointer;
}

.button-load-more:hover {
  background: #68A2CA;
}

.button-load-more:focus {
  outline: 3px solid #756257;
  border-radius: 4px;
}

.button-load-more:active .description-button {
  opacity: 0.3;
}



/*Пагтнация фон*/
.pagination-container {
  display: flex;
  width: 1058px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  width: 379px;
}

.pagination-item {
  margin-right: 7px;
}

.pagination-item:nth-child(1) {
  margin-right: 0;
}



.background-link {
  margin: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  background: #83B3D3;
  border-radius: 4px;
}

/*Пагинация цифры*/
.pagination-link-block {
  display: block;
  margin: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  padding: 0;
  text-align: center;
  padding-top: 15px;
}

.pagination-link-black {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  padding: 0;
  text-decoration: none;
  color: #000;
  text-align: center;
  padding-top: 15px;
}
.background-link-grey {
  margin: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  background: #E5E5E5;
  border-radius: 4px;
}

.container-control {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.select-control-pages {
  width: 160px;
}

.title-control {
  width: 180px;
}

/*Гостиниц на странице*/
.title-control {
  color: #333;
  margin-right: 51px;
}

.select-control-pages {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
  color: #333;
  line-height: 23px;
  width: 160px;
  height: 48px;
  color: #333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding-left: 17px;
}




/*Форма подписки какталог*/
.mailing-catalog {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 1200px;
  font-size: 18px;
  line-height: 26px;
  color: #333;
  margin-bottom: 140px;
}

.mailing-catalog-form {
  display: flex;
  width: 800px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.mailling-title-catalog {
  padding-bottom: 15px;
}

.mailling-description-catalog {
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  padding-bottom: 26px;
}

/*Описание текст*/
.mailing-description-catalog {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333;
}

/*Кнопка подписки*/
.button-subscription-mailing-catalog {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  background-color: #83B3D3;
  border: none;
  color: #fff;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.input-user-text-mailing-catalog {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 26px;
  background-color:#F2F2F2;
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: #000;
  width: 578px;
  height: 60px;
  padding-left: 22px;
}
