@@ -1,508 +1,547 @@
@font-face {
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}

.page-container {
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
}



/*Сброс стилей списков*/
.navigation-list {
  list-style: none;
}
/*Список юзер навигации*/
.navigetion-list-user {
  list-style: none;
}
/*Список иконок в футоре*/
.icon-list {
  list-style: none;
}
/*Список крошек в каталоге*/
.breadcrumbs-list {
  list-style: none;
}
.breadcrumbs-list a {
  text-decoration: none;
}
/*Сприсок отображения карточек
в каталоге*/
.display-list {
  list-style: none;
}
.display-list a {
  text-decoration: none;
}
/*Список карточе в каталоге*/
.card-list {
  list-style: none;
}
.pagination {
  list-style: none;
}
.edge-list {
  list-style: none;
}
.edge-list .edge-sublist {
  list-style: none;
}

.visually-hidden {
  visibility: hidden;
}


/*Навигация*/
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  background-color: #fff;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000;
}

.logo-link {
  display: block
  width: 139px;
}

.navigation-list {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000;
  width: 345px;
}

.navigation-list-user {
  margin: 0;
  width: 264;
  margin-left: auto;
}

.navigetion-list-user a {
  text-decoration: none;
  color: #000;
}

/*Кнопка в навигации "хочу сюда!"*/
.button-action-user-navigation {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #756257;
  width: 160px;
  height: 37px;
  border-radius: 4px;
}

.navigetion-list-user a {
  text-decoration: none;
  color: #fff;
}



/*Вступительные заголовки секций*/
.section-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}
/*Поясняющий текст к заголовкам*/
.section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333;
}


/*Главный экран*/

.screen {
  background-color: #fff;
  margin: 0;
}

.screen-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../images/main-page/screen/screen-background.jpg");
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 25px;
}

.vector {
  display: block;
}

.title-screen {
  width: 720px;
  margin: 0 auto;
  padding-top: 63px;
}

.description-screen {
  width: 720px;
  margin: 0 auto;
  padding-top: 23px;
}



/*Блок преимуществ*/
/* заголовки */
.edge-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.edge-number {
  margin: 0;
  padding-top: 25px;
}

.edge-description-text {
  margin: 0 auto;
  padding-top: 26px;
  width: 250px;
}

.edge-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.edge-item-long-hotel {
  display: flex;
  background-color: #83B3D3;
  color: #fff;
}

.edge-item-long-canyon {
  display: flex;
  flex-direction: row-reverse;
  background-color: #83B3D3;
  color: #fff;
}

.edge-item {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 400px;
  height: 384px;
  background-color:
  rgba(131, 179, 211, 0.12);
  color: #333;
}

.item-food {
  background-color: #fff;
}

.item-road {
  background-color:
  rgba(131, 179, 211, 0.20);
}

.edge-wrapper {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
  text-align: center;
}






/*Кнопка поиска гостиниц*/
.search {
  margin: 0;
  padding: 0;
  margin-top: 100px;
}

.section-description {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.button-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  height: 60px;
  border: none;
  color: #fff;
  background-color: #756257;
  border-radius: 4px;
}
.search-button-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

/*Форма подписки*/
.mailing {
  margin-top: 100px;
  background-image: url("../images/main-page/malling/background-malig.jpg");
  background-size: 100% auto;
  background-color: #756257;
  height: 411px;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.mailling-title {
  color: #fff;
}
.mailling-description {
  color: #fff;
}

.mailing-index-form {
  display: flex;
  width: 800px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

/*Описание текст*/
.mailing-description-index {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  color:#fff;
}

/*Кнопка подписки*/
.button-subscription-mailing-index {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  background-color: #83B3D3;
  border: none;
  color: #fff;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

 /*Поле ввода*/
.input-user-text-mailing-index {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 26px;
  background-color:#F2F2F2;
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: #000;
  width: 596px;
  height: 60px;
}


/*Футер*/
.page-footer {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  height: 120px;
  align-items: center;
}

.page-footer a {
  text-decoration: none;
  color: #000;
}

/*Контактный телефон*/
.adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.icon-list {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 70px;
}

.adress-tel {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo-image-link {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 50px;
}





/*Каталог*/

.catalog-products {
  color: #fff;
}

.inner-header {
  display: flex;
  background-image: url("../images/catalog/catalog-screen-background.jpg");
  background-repeat: no-repeat;
  color: #fff;
  height: 408px;
}

.breadcrumbs-list {
  width: 150px;
}
.catalog-filter-group {
  width: 150px;
}

.button-filter {
  width: 160px;
}

/*Заголовок экрана фильтров*/
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  line-height: 78px;
}

/*Заголовки фильтров*/
.catalog-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

/*Список фильтров*/
.catalog-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  line-height: 23px;
}

/*Кнопки фильтров*/
.button-filter {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #83B3D3;
  width: 160px;
  height: 48px;
  background: #83B3D3;
  border-radius: 4px;
}

/*Найдено гастинец*/
.total-serch-hotel {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 39px;
}

/*Выпадающий список сортировки
отображения*/
.select-container {
  margin: 53px auto;
  display: flex;
  width: 1057px;
  align-items: center;
}

.total-serch-hotel {
  color: #333;
  width: 340px;
}

.select-total-serch-hotel {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-color: #E5E5E5;
  line-height: 23px;
  border: 2px solid #E6E6E6;
  width: 287px;
  height: 52px;
  color: #333;
  border-radius: 4px;
  margin-left: 191px;
}

.button-select{
  padding: 0;
  margin: 0;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.container-button-select {
  display: flex;
  width: 160px;
  gap: 8px;
  margin-left: auto;
}

.button-select {
  display: block;
}

/*Заголовки карточек*/
.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  line-height: 31px;
}

/*Описание, цена*/
.product-title-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  line-height: 23px;
  color: #333;
}

/*Кнопка подробнее*/
.card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #756257;
  background: #756257;
  width: 133px;
  height: 37px;
  border-radius: 4px;
}

/*Кнопка в избранное*/
.card-button-favorit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color:#83B3D3;
  background:#83B3D3;
  width: 133px;
  height: 37px;
  border-radius: 4px;
}

.card-button-link {
  text-decoration: none;
  color: #fff;
}

/*рейтинг*/
.rating-description {
  font-weight: 400;
  font-size: 16px;
  line-height:21px;
  width: 160px;
  height: 37px;
  text-transform: uppercase;
  text-align: center;
  background: #F2F2F2;
  color: #333;
  border-radius: 4px;
}

/*Кнопка загрузть еще*/
.button-load-more {
  display: block;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  height: 60px;
  border: none;
  color: #fff;
  background-color: #83B3D3;
  background: #83B3D3;
  border-radius: 4px;
  margin: 30px auto;
}

/*Форма подписки в каталоге*/
.mailing-form-catalog {
  font-size: 18px;
  line-height: 26px;
}

.mailing-list-catalog {
  text-align: center;
  background-color: #fff;
  background-size: 100% auto;
  color: #000;
}

.mailing-description-catalog {
  font-size: 22px;
  line-height: 26px;
  color: #333;
}

/*Кнопка подписки*/
.button-subscription-mailing-catalog {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  background-color: #83B3D3;
  background: #83B3D3;
  border: none;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
}

.input-user-text-mailing-catalog {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 26px;
  color: #000;
  width: 600px;
  height: 50px;
}

.container-button {
  margin-left: auto;
  margin-right: auto;
  width: 1055px;
  height: 120px;
  border-top: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  margin-bottom: 30px;

}

/*Пагтнация фон*/
.pagination-container {
  display: flex;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 400px;
  gap: 7px;
}

.pagination-item {
  width: 55px;
  height: 55px;
}

.background-link {
  width: 55px;
  height: 55px;
  background-color: #83B3D3;
  margin-bottom: 10px;
  background: #83B3D3;
  border-radius: 4px;
}

/*Пагинация цифры*/
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  padding: 0;
  text-decoration: none;
}

.pagination-link-black {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  padding: 0;
  text-decoration: none;
  color: #000;
}
.background-link-grey {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  background-color: #E5E5E5;
  background: #E5E5E5;
  border-radius: 4px;
}

.container-control {
  display: flex;
  width: 400px;
  align-items: center;
  margin-left: auto;
}

.select-control-pages {
  width: 160px;
}

.title-control {
  width: 180px;
}

/*Гостиниц на странице*/
.title-control {
  color: #333;
}
.select-control-pages {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
  color: #333;
  line-height: 23px;
  width: 160px;
  height: 48px;
  color: #333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}
